.vscode

.engine/**
.artifacts/**
.tmp/**

test-harness/.env
test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

modules/*
dev/*

build/results.json
changelog-latest.md

# log files
logs/**